@import "reset.css";
@import "common.css";

/* 首页通用样式 */
.container{
    width: 1530px;
    margin: 0 auto; 
}
.left{
    float: left;
}
.right{
    float: right;
}
/* 公共样式坍塌 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 公共样式坍塌结束 */

/* 首页通用样式结束 */

/*页头开始*/
.header{
    height: 109px;
    width: 100%;
    background: #37A33A center ;
}
.header .container{
    
}
/* .header .logo, .header .menu, .header .search{
    height: 30px;
    border: 2px solid;
} */
.header .logo a{
    width: 250px;
    height: 0px;
    padding-top: 80px;
    margin-top: 1.4em;
    display: block;
    background: url("../img/logo2.png") no-repeat left top/100%;
    overflow: hidden;
    margin-left: 9em;
    align-items: center;
}
/* 搜索按钮开始 */
.header .container .search button{
    background:url(../img/sousuo1.png);
    /* display: none; */
}
.header .container .search input{
    margin: 60px 200px 0px 0px;
}
#serch{        
            right: 50px;
            top: 20px;
            height: 30px;;
            width: 160px;
            border-radius: 5px;
            font-size: 15px;
            transition: 0.5s;  
            background-color: rgb(196, 247, 199);          
            border: none;
        }
/* 搜索按钮结束 */
/* 重置文本框 */
input{
    border: none;
    outline: none;
    outline-offset: 0;
    width: 200px;
    height: 30px;
    background-color: rgb(196, 247, 199);
}
button{
    border: none;
    outline: none;
    outline-offset: 0;
    background: transparent;
    cursor: pointer;
}


/* 结束 */
/*页头结束*/